[submodule "spiking-neuron-models"]
	path = _spiking-neuron-models
	url = https://github.com/neuronstar/spiking-neuron-models
[submodule "_elements-of-statistical-learning"]
	path = _elements-of-statistical-learning
	url = https://github.com/neuronstar/elements-of-statistical-learning.git
