[submodule "content/snm"]
	path = content/snm
	url = git@github.com:neuronstar/spiking-neuron-models.git
[submodule "content/esl"]
	path = content/esl
	url = git@github.com:neuronstar/elements-of-statistical-learning.git
