{{ define "header" }} {{ partial "menu" . }} {{ end }}

{{ define "main" }}

<!-- Hero content: will be in the middle -->
<section>
<div class="hero is-primary is-medium">
    <div class="hero-body">
        <div class="container has-text-left">
            <h1 class="title is-1">
                {{ .Page.Title }}
            </h1>
            <h2 class="subtitle is-4">
                {{ .Page.Description }}
            </h2>
            <h3 class="title is-5" style="margin-top: 2em;">
                {{ with .Site.GetPage (.Page.Params.project) }}
                <a href="{{ .Permalink }}" class="has-text-warning"><i class="fas fa-link"></i> Introduction: {{ .Title }} </a>
                {{ end }}
            </h3>
          </div>
    </div>
</div>

</section>

<div class="columns is-fullheight">
    <div class="column">
        <section class="hero is-default is-bold">
            <div class="hero-body">
                <div class="container">
                    {{ partial "breadcrumb" . }}
                    {{ partial "list-pages-by-cards" . }}
                </div>
                <br>
                <div class="container">
                    {{ if gt .Paginator.TotalPages 1 }}
                    {{ partial "pagination" . }}
                    {{ end }}
                </div>
            </div>
        </section>
    </div>

</div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}