<!-- Hero content: will be in the middle -->
</section>
<div class="hero is-medium is-primary">
    <div class="hero-body">
        <div class="container">Hello! This is
            <h1 class="title is-1">
              {{ .Site.Title }}
            </h1>
            <h2 class="subtitle is-3">
              {{ .Site.Params.description }}
            </h2>
            <div class="buttons">
              <a href="/projects" class="button is-warning">Projects</a>
              <a href="/about" class="button is-link">About</a>
            </div>
          </div>
    </div>
</div>

</section>